
includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    # Level 9 is the highest level
    level: 0

    excludePaths:
        - %rootDir%/app/Http/Controllers/Auth/VerifyEmailController.php

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#
#    checkMissingIterableValueType: false
